.header{
	position: relative;
	font-family: 'Proxima Nova';
	background-color: white;
	margin-bottom: 40px;
	padding-top: 5px;
	border-bottom: 1px solid #e4ded1;
	.logo{
		position: relative;
		bottom: -5px;
	}
	.header-info{
		padding-top: 10px;
		margin-bottom: 15px;
		font-size: 11px;
		text-transform: uppercase;
		font-weight: 600;
		letter-spacing: 0.5px;
		color: #c4b07a;
		.fa{
			margin-right: 5px;
		}
	}
}

	.fa.menu-icon{
		display: none;
	}

.navigation{
	.menu-item{
		float: left;
		padding: 0 20px;
		border-left: 1px solid #757f3c;
		line-height: 16px;
		&:first-child{
			border-left: none;
			padding-left: 0;
		}
	}
	.menu-link{
		font-size: 16px;
		line-height: 16px;
		font-weight: 600;
		color: #3b401e;
		transition: 0.3s;
		&:hover{
			color: #757f3c;
		}
	}
	.count-products{
		font-size: 14px;
		color: #e8930c;
	}
}

.secondary-menu{
	float: right;
	padding-top: 5px;
	margin-bottom: 10px;
	&-item{
		float: left;
		padding: 0 7px;
		border-left: 1px solid #414141;
		line-height: 12px;
		&:first-child{
			border-left: none;
		}
	}
	&-link{
		color: #414141;
		font-size: 12px;
		font-weight: 600;
		transition: 0.3s;
		&:hover{
			color: #d98d1b;
		}
	}
}

.header-search{
	float: right;
	position: relative;
	input{
		width: 250px;
		height: 36px;
		padding: 0 40px 0 15px;
		border: none;
		border-radius: 5px;
		color: #757f3c;
		background-color: #f3efe4;
		font-style: italic;
	}
	input::-webkit-input-placeholder {
		color:#94a14c;
	}
	input::-moz-placeholder {
		color:#94a14c;
	}
	input:-moz-placeholder {
		color:#94a14c;
	}
	input:-ms-input-placeholder {
		color:#94a14c;
	}
	button{
		font-size: 20px;
		line-height: 32px;
		cursor: pointer;
		position: absolute;
		right: 15px;
		top: 0;
		border: none;
		background-color: #f3efe4;
		color: #757f3c;
	}
}




.footer{
	width: 100%;
	background-color: #757f3c;
	padding: 30px 0 50px;
	font-family: 'Proxima Nova';
	.footer-title{
		@extend .blog-title;
		color: #3b401e !important;
		&:after{
			content: '';
			display: block;
			width: 100%;
			height: 1px;
			background-color: #51582a;
			margin-top: 10px;
			-webkit-box-shadow: 0px 1px 0px 0px rgba(136,148,70,1);
			-moz-box-shadow: 0px 1px 0px 0px rgba(136,148,70,1);
			box-shadow: 0px 1px 0px 0px rgba(136,148,70,1);
			margin-bottom: 20px;
		}
	}
	.services-link{
		color: white;
		font-weight: 600;
		font-size: 14px;
		line-height: 24px;
		transition: 0.3s;
	}
	.shop-link{
		@extend .services-link;
	}
	.social-list a{
		@extend .services-link;
	}
	.social-list{
		margin-bottom: 25px;
		.social-item{
			padding-left: 27px;
		}
		span{
			position: absolute;
			left: 15px;
			font-size: 16px;
		}
	}
	.social-link-facebook:hover{
		color: #3b5998;
	}
	.social-link-pinterest:hover{
		color: #bd081c;
	}
	.social-link-instagram:hover{
		color: #e1306c;
	}
	.social-link-twitter:hover{
		color: #55acee;
	}
	.social-link-rss:hover{
		color: #d98d1b;
	}
}

.footer-search{
	position: relative;
	overflow: hidden;
	input{
		width: 100%;
		height: 36px;
		padding: 0 40px 0 15px;
		border: none;
		border-radius: 5px;
		color: #757f3c;
		font-style: italic;
	}
	input::-webkit-input-placeholder {
		color:#94a14c;
	}
	input::-moz-placeholder {
		color:#94a14c;
	}
	input:-moz-placeholder {
		color:#94a14c;
	}
	input:-ms-input-placeholder {
		color:#94a14c;
	}
	button{
		font-size: 20px;
		line-height: 32px;
		cursor: pointer;
		position: absolute;
		right: 15px;
		top: 0;
		border: none;
		background-color: white;
		color: #757f3c;
	}
}


body{
 	background-color: #f3efe4;
}

.blog{
	background-color: white;
	padding: 35px 0;
	margin-bottom: 30px;
	border-radius: 5px;
	border: 1px solid #e4ded1;
}

.blog-title{
	font-size: 14px;
	line-height: 14px;
	font-weight: bold;
	color: #a3a78b;
	letter-spacing: 0.5px;
}