body{
 	background-color: #f3efe4;
}

.blog{
	background-color: white;
	padding: 35px 0;
	margin-bottom: 30px;
	border-radius: 5px;
	border: 1px solid #e4ded1;
}

.blog-title{
	font-size: 14px;
	line-height: 14px;
	font-weight: bold;
	color: #a3a78b;
	letter-spacing: 0.5px;
}